<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户注册</h3>
    </div>
    <div class="panel-body">
        <form role="form" ng-submit="registerSubmit()">
            <fieldset>
                <div class="form-group">
                    用户名：<input class="form-control" ng-model="formData.username" placeholder="Username" name="username" type="text" autofocus>
                </div>
                <div class="form-group">
                    手机：<input class="form-control" ng-model="formData.mobile" placeholder="Mobile" name="mobile" type="tel">
                </div>
                <div class="form-group">
                    密码：<input class="form-control" ng-model="formData.password" placeholder="Password" name="password" type="password" value="">
                </div>
                <div class="form-group">
                    确认密码：<input class="form-control" ng-model="formData.firmpassword" placeholder="Password" name="password" type="password" value="">
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">注册</button>
            </fieldset>
        </form>
    </div>
</div>