<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">发送推荐</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <!-- /.col-lg-6 -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                请发送您要向注册用户推荐的股票信息！
            </div>
            <!-- /.panel-heading -->
            <form role="form" ng-submit="sendMessageSubmit(stockMessage)">
                <div class="form-group">
                    <textarea class="form-control" rows="6" ng-model="stockMessage"></textarea>
                </div>
                <div align="center"><button type="submit" class="btn btn-success">发送</button></div>
            </form>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->