<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">基本信息</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
                <!--Hover Rows-->
            <!--</div>-->
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>ID：</td>
                            <td>{{'GB_' + userInfo.id}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>用户名：</td>
                            <td>{{userInfo.username}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>密码</td>
                            <td>******</td>
                            <td><button type="button" class="btn btn-primary btn-xs">修改</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>手机：</td>
                            <td>{{userInfo.mobile}}</td>
                            <td><button type="button" class="btn btn-primary btn-xs">修改</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>邀请码：</td>
                            <td>{{userInfo.inviteCode}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->