<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <script data-main="config.js" src="../../js/lib/require.js"></script>

</head>

<body>

<div id="wrapper" data-ng-controller="accountCtl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand fa fa-home" href="../home/home.html">{{username}}</a>
            <!--<a class="navbar-brand" href="#">{{username}}</a>-->
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a ng-click="userProfile()" href="#"><i class="fa fa-user fa-fw"></i> 基本信息</a>
                    </li>
                    <li><a ng-click="myOrders()" href="#"><i class="fa fa-file-text-o fa-fw"></i> 我的订单</a>
                    </li>
                    <!--<li><a ng-click="settings()" href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>-->
                    <!--</li>-->
                    <li class="divider"></li>
                    <li><a href="../../index.html" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a ng-click="recommendToday()" href="#"><i class="fa fa-dashboard fa-fw"></i> 今日推荐</a>
                    </li>
                    <li>
                        <a ng-click="recommendWeek()" href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 历史推荐</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 历史推荐<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a ng-click="recommendWeek()" href="#">本周</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="recommendMonth()" href="#">本月</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->
                    <li>
                        <a href="#"><i class="fa fa-cubes fa-fw"></i> 增值服务<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a ng-click="shortSwingService()" href="#">短线通</a>
                            </li>
                            <li>
                                <a ng-click="diagnoseService()" href="#">个股推断</a>
                            </li>
                            <li>
                                <a ng-click="assistService()" href="#">散户助手</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <!--<a href="#"><i class="fa fa-wrench fa-fw"></i> 管理员<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a ng-click="" href="#">发送推荐</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ng-click="recommendWeek()" href="#">历史推荐</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper"  ng-include="mytemplate" scope="" onload="afterLoad()">

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
